@charset "utf-8";
/* @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css"); */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('./jquery-ui.css');

-webkit-overflow-scrolling:touch;
/* html5요소 하위브라우져 적용 */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}
/* 모든 Device를 위한 공통 로드 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,figcaption,span{margin:0;padding:0;font-family:apple sd gothic neo, sans-serif;color:#000;}
*{-webkit-text-size-adjust:none;}
body{height:100%;font-size:12px;font-family:apple sd gothic neo, sans-serif;color:#000;}
table{border-spacing:0;*border-collapse:collapse;font-family:helvetica,apple sd gothic neo, sans-serif}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;font-family:apple sd gothic neo, sans-serif}
ol,ul{list-style:none;font-family:apple sd gothic neo, sans-serif}
legend,caption{text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;}
a {text-decoration:none;color:#333;font-size:12px;font-family:apple sd gothic neo, sans-serif;white-space:nowrap;color:#000;}
select,input{vertical-align:middle;font-family:apple sd gothic neo, sans-serif}
.clfix{*zoom:1}
.clfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.ir{overflow:hidden;text-indent:-9999px;position:absolute;z-index:-9999;top:-10000px;left:-100000px;}
.ellipsis{white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.block{display:block;}
.inline{display:inline;}
.inlineBlock{display:inline-block;*zoom:1;*display:inline;}
.clear{clear:both}
.overHidden{overflow:hidden}

body{}

/* margin */
.mt0{margin-top:0 !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt36{margin-top:36px !important;}
.mt42{margin-top:42px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt100{margin-top:100px !important;}

.mtM10{margin-top:-10px !important}

.ml0{margin-left:0 !important;}

.mr1{margin-right:1px !important;}

.mb0{margin-bottom:0 !important;}
.mb10{margin-bottom:10px !important;}

/* padding */
.pt0{padding-top:0 !important;}
.pt5{padding-top:5px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}

.pb0{padding-bottom:0 !important;}
.pb6{padding-bottom:6px !important;}
.pb10{padding-bottom:10px !important;}
.pb100{padding-bottom:100px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb60{padding-bottom:60px !important;}

.pl0{padding-left:0 !important;}

.pr0{padding-right:0 !important;}

.top0{top:0 !important}
.top10{top:10px !important}
.top25{top:25px !important}

/* text type */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* btns */

/* align */
.center{text-align:center !important;}
.top{vertical-align:top !important}
.bottom{vertical-align:bottom}
.middle{vertical-align:middle !important}
.alignRight{text-align:right !important}
.alignLeft{text-align:left !important}

/* position */
.posRel{position:relative;z-index:1;}

/* width */
/* height */

/* text style */
.bold{font-weight:700 !important;}
.redTxt{color:red !important}
.blueTxt{color:blue !important}
.greenTxt{color:#548826 !important}
.color777{color:#777 !important} 

/* display */
 
/* lineheight */

/* btns */

/* paging */
.paging{position:relative;z-index:1;min-width:320px;margin:5px 0 0 0;line-height:20px;text-align:center;}
.paging>a{display:inline-block;*zoom:1;*display:inline;width:20px;height:20px;margin:0 5px;box-sizing:border:box;line-height:20px;text-align:center;font-size:10px;color:#000;font-weight:400;vertical-align:middle;background:#fff;border-radius:10px;border:1px solid #8e8d8d}
.paging>strong{display:inline-block;*zoom:1;*display:inline;width:20px;height:20px;margin:0 5px;box-sizing:border:box;line-height:20px;text-align:center;font-size:10px;color:#ed3350;font-weight:400;vertical-align:middle;background:#fff;border-radius:10px;border:1px solid #f48193}
.paging>a.nextBtn{border:none;width:20px;height:20px;}
.paging>a.nextBtn img{width:100%;vertical-align:middle}
.paging>a.prevBtn{border:none;width:20px;height:20px;}
.paging>a.prevBtn img{width:100%;vertical-align:middle}

/* skip navigation */
a.skipNaviBtn{position: absolute;z-index:100;background:none repeat scroll 0 0 #ea0e15;color:#ffffff;display:block;left:-200%;text-align:center;width:200px;padding:5px 0;border:1px solid #000000;border-top:none;}
a.skipNaviBtn:focus{left:50%;margin-left:-100px;z-index:10000;}
a.skipNaviBtn:hover {left:50%;margin-left:-100px;z-index:10000;}
a.skipNaviBtn:active {left:50%;margin-left:-100px;z-index:10000;}



#contents{}

/* btns */
.submitOne{display:block;width:72.2%;height:45px;margin:0 auto;line-height:44px;text-align:center;color:#fff;font-size:13px;letter-spacing:-0.02em;background:#008ff3;border-radius:3px}

/* common */
/* 360px 이하 안드로이드 3x 세로모드*/
@media screen and (min-width: 320px){
}
@media screen and (min-width: 360px){
}
/* 640px 이하 노트3기준 가로모드 */
@media screen and (min-width:640px){
}
/* 667px 이하 아이폰6 가로모드 */
@media screen and (min-width:667px){
}
/* 768px 이하 아이패드 세로기준 */
@media screen and (min-width:769px){
}
/* 1280px 이상 */
@media screen and (min-width:1200px){
}


/* header{position:relative;width:100%;}
header .header_inner{position:relative;margin:0 auto;width:1140px;height:70px;}
header .header_inner .log{display:block;float:left;margin-top:21px;width:80px;height:28px;background:url(../images/happy_03.jpg) no-repeat;}
header .header_inner .gnb{position:absolute;top:24px;left:100px;right:100px;margin:0 auto;text-align:center;background:pink;}
header .header_inner .gnb ul{width:675px;margin:0 auto;}
header .header_inner .gnb ul li{float:left;width:85px;padding:0 25px;height:24px;line-height:100%;font-size:20px;font-weight: 700;color:#000;background:rgb(189, 235, 189);} */

/* header .header_inner .spot{position:absolute;top:24px;right:0;height:22px;line-height: 22px;text-align: center;vertical-align: middle;}
header .header_inner .spot li{float:left;position:relative;padding:0 0 0 12px;}
header .header_inner .spot .spot_01{display:inline-block;font-size:12px;padding:0 13px 0 0;}
header .header_inner .spot .spot_01:after{display:block;content:"";;position:absolute;top:50%;right:0;transform: translateY(-50%);width:1px;height:14px;background:#ccc;}
header .header_inner .spot .spot_02{display:inline-block;padding:0;width:21px; height:22px;background:url(../images/happy_06.jpg) no-repeat;} */

.mainbanner{position:relative;width:100%;height:332px;border-top:1px solid #e1e1e1;text-align: center;margin:0 auto;}
.mainbanner .mb_rel{position:absolute;top:40px;left:50%;transform: translate(-50%,0);width:1220px; height:291px;margin:0 auto;}
.mainbanner .mb_rel .prev, .mainbanner .mb_rel .next{display:block;position:absolute;top:50%;width:22px;height:42px;transform: translateY(-50%); no-repeat;}
.mainbanner .mb_rel .prev{background:url(../images/icon_12.jpg);left:0}
.mainbanner .mb_rel .next{background:url(../images/icon_15.jpg);right:0}
.mainbanner .mb_rel .slide_img{position:absolute;top:0;left:50%; transform: translate(-50%,0);width:1140px;height:291px;background: url(../images/happy_10.jpg) no-repeat;}
.mainbanner .v_back_img{width:100%; height:302px;background:#41c982;}

.con_menu{width:100%;height:53px;padding:56px 0;background: #777;}
.con_menu ul{width:597px;margin:0 auto;}
.con_menu li{display:inline-block;width:193px;height:53px;border:1px solid #65db7f;border-radius: 53px;text-align: center;line-height:53px;}
.con_menu li a{display:block;font-size:17px;font-weight: 700;color:#65db7f;text-align: center;}

/* 균 */
#header{width:1140px;height:70px;margin:0 auto;background:#fff;}
#header>h1{float:left;margin-top:21px;width:80px;height:28px;}
#header>h1>a{display:block;}
#header>.gnb{float:left;width:675px;margin:21px 0 0 169px;}
#header>.gnb>a{float:left;width:85px;padding:0 25px;height:24px;line-height:100%;font-size:20px;font-weight: 700;color:#000;}
#header>aside{float:right;width:100px;padding:24px 0 0 0;text-align:right;}
#header>aside .loginBtn{display:inline-block;font-size:12px;padding:0 13px 0 0;vertical-align:middle;}
#header>aside .searchBtn{display:inline-block;padding:0;width:21px; height:22px;vertical-align:middle;}
#header>aside .loginBtn:after{display:block;content:"";;position:absolute;top:50%;right:0;transform: translateY(-50%);width:1px;height:14px;background:#ccc;}

.topBanner{position:relative;z-index:1;width:100%;height:302px;border-top:1px solid #e1e1e1;background:#41c982}
.topBanner .floatingBanner{position:absolute;z-index:2;top:42px;left:50%;width:1220px;height:291px;margin:0 0 0 -610px}
.topBanner .bannerPrevBtn{position:absolute;z-index:2;top:50%;left:0;}
.topBanner .bannerNextBtn{position:absolute;z-index:2;top:50%;right:0;} 
.floatingBanner>ul{position:absolute;z-index:2;top:0;left:39px;width:1140px;height:291px;}

.hashTagLink{margin:87px 0 0 0;text-align:center;}
.hashTagLink>a{display:inline-block;width:191px;height:51px;margin-right:5px;line-height:51px;font-size:15px;color:#65db7f;background:#fff;border:1px solid #65db7f;border-radius:26px;}

.donation100{width:1140px;margin:47px auto 0;}
.donation100>h3{line-height:43px;font-size:26px;}
.donation100>ul{padding:15px 0 0 0;}
.donation100>ul>li{float:left;width:267px;height:362px;margin:0 24px 0 0;}
.donation100>ul>li>a>img{display:block;width:267px;height:200px;}
.donation100>ul>li:last-child{margin-right:0;}
.donation100>ul>li .paddingInner{width:225px;height:121px;padding:20px;border:1px solid #e3e3e3;border-top:none;}
.donation100>ul>li h4{line-height:20px;font-size:16px;color:#333;}
.donation100>ul>li h5{padding:20px 0 0 0;line-height:20px;font-size:12px;color:#ccc;}
.donation100>ul>li .graphArea{position:relative;z-index:1;width:226px;height:5px;margin:10px 0 0 0;background:#e8e8e8}
.donation100>ul>li .graphArea span{position: absolute;z-index:2;display:block;height:5px;background:#10c838}
.dongation100>ul>li .stasticeArea{paddin:7px 0 0 0;}
.donation100>ul>li .stasticeArea strong{float:left;width:80px;line-height:25px;font-size:13px;color:#10c838;}
.donation100>ul>li .stasticeArea span{float:right;width:calc(100% - 80px);line-height:25px;font-size:13px;color:#ccc}